statemachine/stock_trader.asl.json
{
    "Comment": "A step functions example showing input and output processing.",
    "StartAt": "Invoke HelloFunction",
    "States": {
        "Invoke HelloFunction": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName":"${HelloWorldFunctionArn}:$LATEST",
                "Payload.$": "$.lambda"
            },
            "ResultSelector": { 
                "response.$" : "$.Payload"
            },
            "ResultPath": "$.data.lambda",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 3,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Pass1"
        },
        
        "Pass1": {
            "Type": "Pass",
            "Parameters":{         
             "Sum.$": "States.MathAdd($.data.value1, $.data.value2)"                
            }, 
            "ResultPath": "$.total",
            "Next": "Pass2"
        },
        "Pass2": {
            "Type": "Pass",
            "Parameters":{  
             "joined.$": "States.JsonMerge($.total, $.data, false)"              
            }, 
            "OutputPath": "$.joined",
            "End": true
        }  
    }
}